.bandeau {
  // background: url(../assets/images/bandeau.gif) no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-image: image('../assets/images/bandeau.gif');
  height: 200px;
  background-color: red;
  text-align: center;
  line-height: 100px;
}
// p {
//   color: red;
// }
